* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgba(0,0,0,0.7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    background-color: #6C5A49;
    width: 65vw;
    height: calc(100vh - 40px);
    margin: 20px auto;
}

/* header */

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

.header h1 {
    color: #D0FCB3;
    font-size: 2em;
}

.header a {
    font-size: .7em;
    text-decoration: none;
}

.header a:hover {
    color: #C8AD55;
}

/* links */

.recipeList {
    margin-top: 50px;
}

ul {
    text-align: center;
    list-style: none;
}

li a {
    text-decoration: none;
    background-color: #D0FCB3;
    display: block;
    width: 300px;
    margin: 3px auto;
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 30px;
    padding: 10px;
}

li a:hover {
    background-color: #C8AD55;
    color: rgba(0,0,0,0.7);
}